.root
{
    -fx-background-color: #009393
}
.panel2

{
    -fx-background-color: #0181bd
}
.paneH

{
    -fx-background-color: #00ffff
}
.paneE

{
    -fx-background-color: #7ED4FF
}
.paneA

{
    -fx-background-color: #5AC0FF
}
.Events

{
    -fx-background-color: #d0ffd0
}
.textAE

{
    -fx-background-color: #c0ffc0
}